<%- include('./shared/navbar.ejs') %>

<div class="container text-center my-5">
    <div class="hero-section">
        <div class="floating-icons">
            <i class="fas fa-heart floating-icon icon-1"></i>
            <i class="fas fa-star floating-icon icon-2"></i>
            <i class="fas fa-smile floating-icon icon-3"></i>
            <i class="fas fa-paper-plane floating-icon icon-4"></i>
        </div>
        <h4 class="hero-title">Sarahah allows you to receive constructive feedback from your friends and co-workers</h4>
        <div class="buttons d-flex justify-content-center align-items-center flex-column">
            <a href="/login" class="btn btn-default-outline my-4"><i class="fas fa-user"></i> Login</a>
            <a href="/register" class="btn btn-default-outline"><i class="far fa-edit"></i> Register</a>
        </div>
    </div>
</div>
<%- include('./shared/footer.ejs') %>